html {
  box-sizing: content-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
